appdirs==1.4.3
attrs==19.3.0
black==19.3b0
click==7.1.1
coverage==5.1
git+https://github.com/anthony-tuininga/cx_Freeze.git@470aca06060f6b92e5ae0548c887fc9db7838f52#egg=cx-freeze
mypy-extensions==0.4.3
mypy==0.770
toml==0.10.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
wheel==0.34.2
